{% extends "layout.html" %}

{% block page_title %}
  Your dashboard
{% endblock %}

{% block main_content %}

  <div class="content__body">
    <h1>Your dashboard</h1>
    <section class="section divider--bottom">
      <h2>Upload documents</h2>
      <br>
      <ul>
        <li class="section__li">
          <a id="epaye-make-payment-link" href="upload" class="button--secondary">
            Upload documents
          </a>
        </li>
      </ul>
      <br>
    </section>
    <section class="section divider--bottom">
      <h2>Download documents from HMRC</h2>
      <p class="form-hint flush">For security, we’ll delete these files after six calendar days. If you need a deleted file email
        <a href="mailto:group1@digital.hmrc.gov.uk">group1@digital.hmrc.gov.uk</a>
      </p><br>
      <div class="grid-layout__column--3-4">
        <ul class="list--ticks1">
          <li>Z1255_08_001_001_2016.txt_1091656...</li>
          <li>A1618_27_001_001_2016.txt_1091652...</li>
          <li>Z1255_08_001_001_2016.txt_1091656...</li>
          <li>A1618_27_001_001_2016.txt_1091652...</li>
          <li>Z1255_08_001_001_2016.txt_1091656...</li>
        </ul>
      </div>
      <div class="grid-layout__column--1-4">
        <ul class="right-align">
          <li>
            <a class="button--secondary" href="../docs/Z1255_08_001_001_2016.txt_1091656.pdf" download>Download</a>
          </li>
          <li>
            <a class="button--secondary" href="../docs/A1618_27_001_001_2016.txt_1091652.txt" download>Download</a>
          </li>
          <li>
            <a class="button--secondary" href="../docs/Z1255_08_001_001_2016.txt_1091656.pdf" download>Download</a>
          </li>
          <li>
            <a class="button--secondary" href="../docs/A1618_27_001_001_2016.txt_1091652.txt" download>Download</a>
          </li>
          <li>
            <a class="button--secondary" href="../docs/Z1255_08_001_001_2016.txt_1091656.pdf" download>Download</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <aside class="sidebar">
    <div class="section--blue-top sidebar--hidden-sm"></div>
    <section>
      <div id="user-name-and-last-login-holder" class="last-login" data-qa="last-login-summary">
        <h3 id="welcome-text">
          Welcome, Judy Powell
        </h3>
        <p class="last-login__more-details font-xsmall">Last sign in on 5 April 2017</p>
      </div>
      <div id="last-login-details" class="last-login-details js-hidden">
        <section id="last-login-detail" class="alert alert--slim alert--info">
          <p class="font-xsmall">
            <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk">Contact HMRC</a>
            if it wasn't you.</p>
          <a class="minimise js-visible font-xsmall float--none" href="#">Minimise</a>
        </section>
      </div>
      <ul class="section__ul--link-list sidebar__list">
        <li class="sidebar__list-item font-xsmall">
          <a href="../dashboard/change-email">Change your contact email</a>
        </li>
      </ul>
    </aside>
  </div>

{% endblock %}
