{% extends "layout.html" %}
{% block page_title %}
Register for the service
{% endblock %}
{% block main_content %}

  <div class="content__body">
    <h1 class="heading-xlarge">
      Register for the service
    </h1>
    <div>
      <p>To register, call 03000 597 222.</p>
      <p>Within 5 working days we’ll send you a letter that contains:
      </p>
      <ul class="bullets">
        <li>a reference number</li>
        <li>a known fact</li>
      </ul>
      <p>You’ll need both these things to complete your registration.</p><br>
      <div class="form-field form-field--submit">
        <a href="../gateway/sdes-enrol" class="button">Continue - I have this information</a>
        <a href="../gateway/gg-sign-in" class="button button--link">Go back</a>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <aside class="govuk-related-items" role="complementary">
      <h2 class="heading-medium" id="subsection-title">Setting up your account</h2>
      <p>You also need to create a Government Gateway account if you don’t have one.</p>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="font-xsmall">
          <li>
            <a href="https://www.tax.service.gov.uk/government-gateway-registration-frontend/choose-your-account?continue=%2Faccount&origin=unknown" target="_blank">Register with Government Gateway</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>


{% endblock %}
