{% extends "layout.html" %}

{% block pageTitle %}
  What are your children's dates of birth?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="feedback" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="are-you-pregnant" method="post">

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Enter your children's dates of birth
      </h1>
    </legend>
        
    

    {% for i in range(0, data['children-u4']) -%}
     <div class="govuk-form-group">

      <a href="#" role="button" class="govuk-button govuk-button--secondary" style="float:right;">Remove</a>
      <h4 class="govuk-heading-s">About your child</h4>

       <label class="govuk-label" for="c{{i}}-child-name">First name</label>
        <input class="govuk-input" id="c{{i}}-child-name" name="c{{i}}-child-name" type="text" value="{{ data['c{{i}}-child-name'] }}" >
        
      </div>


    <label class="govuk-label" for="national-insurance-number">
    <strong>Date of birth</strong>
  </label>
  <span id="national-insurance-number-hint" class="govuk-hint">
    For example, 31 3 2018
  </span>

      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dob-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="c{{i}}-dob-day" name="c{{i}}-dob-day" type="number" pattern="[0-9]*" value="{{ data['c{{i}}-dob-day'] }}"/>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="c{{i}}-dob-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="c{{i}}-dob-month" name="c{{i}}-dob-month" type="number" pattern="[0-9]*" value="{{ data['c{{i}}-dob-month'] }}"/>
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="c{{i}}-dob-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="c{{i}}-dob-year" name="c{{i}}-dob-year" type="number" pattern="[0-9]*" value="{{ data['c{{i}}-dob-year'] }}"/>
          </div>
        </div>
      </div>
       <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    {%- endfor %}



  </fieldset>
</div>

<div class="govuk-inset-text">
     Children’s names will not be stored or shared. We need their dates of birth to confirm your identity and to prevent fraud.
  </div>




        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


