{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">We’re considering your application</h1>
       
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

        <p>We need to review your application. We’ll send you a letter with our decision. </p>
        <p>Check your email for more information.</p>

     <h2 class="govuk-heading-m">Give feedback</h2> 
     <p><a href="https://www.smartsurvey.co.uk/s/apply-for-healthy-start-feedback"> What did you think of this service?</a> (takes 30 seconds).</p> 


    </div>
  </div>

{% endblock %}
