{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirm - unsuccessful
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application not successful</h1>
        <div class="govuk-panel__body">
          You will not be sent a Healthy Start card
        </div>
      </div>

      <p>We cannot find you in our records. You may have entered something wrong.</p>
        <p> <a href="guidance-apply">Go back and try again</a>.</p>
        <p>If you’re on benefits make sure you enter the same details you registered with the benefits agencies (DWP or HMRC).</p>
        <p>If you’re still having problems call 0300 330 7010 and select option 3.</p>

  
    </div>
  </div>

{% endblock %}
