{% extends "layout.html" %}

{% block pageTitle %}
  Holding page for apply for someone else
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Coming soon...</h1>
        <p class="govuk-body">
          This journey is yet to be defined.</p>
          <p class="govuk-body">Select <a href="which-user" class="govuk-link">I am pregnant, or am a parent or guardian with one or more children under the age of 4 from the previous page</a> 
        </p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
