{% extends "layout.html" %}

{% block pageTitle %}
   Which benefits are you on?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form class="form" action="benefits-answer" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">

      <h1 class="govuk-heading-l" style="color: red;">*Content under review*</h1>
      <h1 class="govuk-fieldset__heading">
        Which benefits are you on?
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Select all that apply
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Universal Credit" {{ checked("benefits", "Universal Credit") }}>
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          Universal Credit (with a family take home pay of £408 or less per month)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Child Tax Credit" {{ checked("benefits", "Child Tax Credit") }}>
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          Child Tax Credit (with a family income of £16,190 or less per year)
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Income Support" {{ checked("benefits", "Income Support") }}>
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          Income Support
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Income-based Jobseeker’s Allowance" {{ checked("benefits", "Income-based Jobseeker’s Allowance") }}>
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          Income-based Jobseeker’s Allowance
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Income-related Employment and Support Allowance">
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          Income-related Employment and Support Allowance
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="benefits" name="benefits" type="checkbox" value="Income-related Employment and Support Allowance">
        <label class="govuk-label govuk-checkboxes__label" for="benefits">
          I am not on any benefits
        </label>
      </div>
    </div>
  </fieldset>
</div>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
     Why do we need this?
    </span>
  </summary>
  <div class="govuk-details__text">
    To check eligibility.
  </div>
</details>


        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


