{% extends "layout.html" %}

{% block pageTitle %}
  Are you pregnant?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


   <form class="form" action="confirmation-success" method="post">

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="citizenship-conditional-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Terms and conditions
      </h1>
    </legend>

    {% from "warning-text/macro.njk" import govukWarningText %}

{{ govukWarningText({
  text: "Your payment may be stopped and you could be asked to repay money if you do not comply with these terms.",
  iconFallbackText: "Warning"
}) }}
    <h3 class="govuk-heading-m">Submitting your application</h3>

<p>You confirm that the information you’ve given is correct.</p> 
<p>You understand that the Department of Health and Social Care (DHSC):</p>

 <ul class="govuk-list govuk-list--bullet">
        <li>can check with other organisations that the information you’ve given is correct</li>
        <li>can stop your payments and ask you to repay the money if you apply for a prepaid card illegally</li>
      </ul>

 <h3 class="govuk-heading-m">Using your card</h3>

 <p>If you do not spend your payment within 8 weeks, your payments will be paused. You must spend the full amount for payments to start again. You will not get any payments you have missed.</p>

 <p>You understand that:</p>

 <ul class="govuk-list govuk-list--bullet">
        <li>you must only use your prepaid card to <a href=”related/how-to-buy-with-prepaid-card” target="_blank">buy eligible items (link opens in a new tab)</a></li>
        <li>you’re responsible for all spending on your prepaid card even if someone else uses it</li>
        <li>the DHSC has the right to ask retailers for receipts when you shop – to help prevent fraud </li>
      </ul>
<h3 class="govuk-heading-m">Lost or stolen cards</h3>

<p>If your card is lost or stolen you must report it to the card provider immediately. If not you may lose some of the money left on the card.</p>

<p>A small fee may be taken from your card if you request more than 4 replacement cards in a year. This is to cover costs.</p>

<h3 class="govuk-heading-m">About your personal information</h3>

<p>If your circumstances or personal details change you must tell:</p>

 <ul class="govuk-list govuk-list--bullet">
        <li>the DHSC and the Help to buy healthy food service</li>
        <li>any other benefit agencies you claim from</li>
      </ul>

<p>You must <a href=”privacy-notice” target="_blank">read and agree to our privacy statement (link opens in a new tab)</a>. This explains what happens to your information, where it will be stored it and who it will be shared with.</p>






    <div class="govuk-checkboxes" data-module="checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="citizenship-conditional-1" name="citizen" type="checkbox" value="email" data-aria-controls="conditional-citizenship-conditional-1">
        <label class="govuk-label govuk-checkboxes__label" for="citizenship-conditional-1">
        <p>I confirm that I have read and agree to comply with these terms and conditions.</p>
        
        </label>
      </div>
    </div>
  </fieldset>
</div>


        <button class="govuk-button">Agree and send application</button>

      </form>

    </div>
  </div>

{% endblock %}
