{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">Your application is complete</h1>
        <div class="govuk-panel__body">
          You're entitled to<br><strong>£3.10</strong> a week
        </div>
      </div>

       <p>Check your email for more information.</p>
      

      <h2 class="govuk-heading-m">What happens next</h2>
        <p>You should receive your prepaid card by post within 5 working days. If you do not receive it contact XX XXX XXXX.</p>

        <p>Find out <a href="/change-1-0/related/how-to-buy-with-prepaid-card"> how to use your card</a> and the rules about when it will be topped up.</p>
        <p>You must <a href="/change-1-0/start-page-update"> report any change in your circumstances or personal details</a>.</p>

    </div>
  </div>

{% endblock %}
