{% extends "layout.html" %}

{% block pageTitle %}
  What is your email address?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
   <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      What's your email address?
    </h1>
  </legend>

   <span id="national-insurance-number-hint" class="govuk-hint govuk-!-margin-bottom-6">
 This must be the same email you use for any benefits you claim
</span>

      <form class="form" action="choose-channel" method="post">

  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Email address
  </label>
  
  <input class="govuk-input" id="email" name="email" type="text" aria-describedby="email-hint" autocomplete="email" spellcheck="false" value="{{ data['email'] }}">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why do we need this?
    </span>
  </summary>
  <div class="govuk-details__text">
    To send notifications about your application and your prepaid card.
  </div>
</details>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


