{% extends "layout.html" %}

{% block pageTitle %}
  Which of the following describes you best?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form action="/apply-2-1/applyyou-answer" method="post" class="form">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which of the following describes you best?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pregnant1" name="applyyou" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="applyyou-yes">
          I get Healthy Start vouchers and received a letter with a security code in it.
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pregnant1" name="applyyou" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="applyyou-yes">
          I want to apply for help to buy healthy food. I never registered for Healthy Start vouchers.
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applyyou" name="applyyou" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="applyyou-no">
          I have a help to buy healthy food prepaid card but I have stopped getting money.
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="applyyou" name="applyyou" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="applyyou-no">
          I have a help to buy healthy food prepaid card and want to let you know I am pregnant.
        </label>
      </div>
    </div>

  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


