{% extends "layout.html" %}

{% block pageTitle %}
  Enter your email confirmation code
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
   <a class="govuk-back-link" href="/apply-2-0/start-page-transfer">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter your security code</h1>

<p class="govuk-body">
         You can find this 16 digit number in the letter we sent you.</p>

      <form class="form" action="changed-address" method="post">

        <div class="govuk-form-group">
           <label class="govuk-label" for="national-insurance-number">
    <strong>Email confirmation code</strong>
  </label>
  <span id="national-insurance-number-hint" class="govuk-hint">
    For example, 123456
  </span>
  <input class="govuk-input govuk-input--width-10" id="security-code" name="security-code" type="text" aria-describedby="security-code" value="{{ data['security-code'] }}" />
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I did not get an email confirmation code
    </span>
  </summary>
  <div class="govuk-details__text">
    It can take up to 5 minutes to receive an email with your code. If you have not got a code after 5 minutes, we can send you a new one. <a href="#">Send me a new code</a>
  </div>
</details>



        <button class="govuk-button">Confirm</button>

      </form>

    </div>
  </div>

{% endblock %}


