{% extends "layout.html" %}

{% block pageTitle %}
  Holding page for apply for someone else

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You need to update your address</h1>
        <p class="govuk-body">
         We cannot transfer you to Help to buy healthy food until you do this.</p>
          </div>
    </div>
  </main>
</div>
{% endblock %}
