{% extends "layout.html" %}

{% block pageTitle %}
  How to buy healthy food and milk with a prepaid card
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        How to buy healthy food and milk with a prepaid card
      </h1>

      <p>Eligible pregnant women and young families can get money to buy healthy food and milk. <a href="../start-page" class="govuk-link"> You can check if you are eligible here.</a></p>

      <table class="govuk-table">
  <caption class="govuk-table__caption">How much money you and your family get</caption>
  <thead class="govuk-table__head">
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Pregnant women</th>
      <td class="govuk-table__cell">£3.10 each week</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Child under the age of 1</th>
      <td class="govuk-table__cell">£6.20 each week</td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">Child aged 1 - 4</th>
      <td class="govuk-table__cell">£3.10 each week</td>
    </tr>
  </tbody>
</table>

      <p>If you are eligible, we will send you a special prepaid card (like a bank card) by post.  We will add your money to the card every 4 weeks ready for you to spend.</p>
  

      <h2 class="govuk-heading-m">
       What you can buy
      </h2>

     
      <p>You can only spend this money on:</p>
      <ul class="govuk-list govuk-list--bullet">
       <li>milk</li>
       <li>plain fresh or frozen fruit and vegetables</li>
       <li>infant formula milk</li>
      </ul>

      <p>Plus you will get coupons for free vitamins too.</p>

       <h2 class="govuk-heading-m">
       Where you can use your prepaid card
      </h2>

      <p>You can use your prepaid card to buy healthy food from most shops, retailers and market stalls that accept credit and debit cards. </p>

      <p>You cannot use your prepaid card to buy things online.</p>

    </div>

  </div>
{% endblock %}
