{% extends "layout.html" %}

{% block pageTitle %}
  Enter your email confirmation code
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
   <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Enter the transfer code from the letter we sent to you</h1>

<p class="govuk-body">
         You can find this 7-digit code in the 'step 1' section of your letter.</p>

      <form class="form" action="changed-address" method="post">

        <div class="govuk-form-group">
           <label class="govuk-label" for="national-insurance-number">
    <strong>Transfer code</strong>
  </label>
  <span id="national-insurance-number-hint" class="govuk-hint">
    For example, XX34567
  </span>
  <input class="govuk-input govuk-input--width-10" id="security-code" name="security-code" type="text" aria-describedby="security-code" value="{{ data['security-code'] }}" />
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      I did not get a letter with a transfer code
    </span>
  </summary>
  <div class="govuk-details__text">
      <p>If you currently get Healthy Start vouchers but do not have a transfer code letter, please call us on 0345 607 6823 for help.</p> 

      <p>If you do not currently receive Healthy Start vouchers, you need to <a href="/apply-2-0/start-page-apply">apply for help to buy healthy food here</a>.</p>

  </div>
</details>



        <button class="govuk-button">Confirm</button>

      </form>

    </div>
  </div>

{% endblock %}


