{% extends "layout.html" %}

{% block pageTitle %}
  Holding page for apply for someone else

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You need to update your address before you can apply</h1>
        <p class="govuk-body">
         Please select the benefit you get to find out how to update your address (all links open in a new tab):</p>
         <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://www.gov.uk/universal-credit/changes-of-circumstances" target="_blank">Universal Credit</a></li>
            <li><a href="https://www.gov.uk/changes-affect-tax-credits" target="_blank">Child Tax Credit</a></li>
            <li><a href="https://www.gov.uk/income-support/report-a-change-of-circumstances" target="_blank">Income Support</a></li>
            <li><a href="https://www.gov.uk/jobseekers-allowance/report-a-change-of-circumstances">Jobseeker's Allowance<a></li>
            <li><a href="https://www.gov.uk/employment-support-allowance/change-of-circumstances" target="_blank">Employment and Support Allowance</a></li>
              
        </ul>
          </div>
    </div>
  </main>
</div>
{% endblock %}
