{% extends "layout.html" %}

{% block pageTitle %}
  Holding page for apply for someone else

{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Please contact us to get your transfer code</h1>
        <p class="govuk-body">
         You need a transfer code to swap your paper vouchers for a prepaid card. This code is part of a security process that helps us to check your identity and prevent fraud.</p>

         <p class="govuk-body">
         You can call the help to buy healthy food helpline on 0345 607 6823. You can <a href="https://www.gov.uk/call-charges"> find call charge information on GOV.UK</a>.</p>
          </div>
    </div>
  </main>
</div>
{% endblock %}
