{% extends "layout.html" %}

{% block pageTitle %}
  Test prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Cookies</h1>

<p class="govuk-body">The service currently known as help to buy healthy food will put small files known as 'cookies'
    onto your computer.</p>
<p class="govuk-body">These cookies are used to help us:</p>

<ul class="govuk-list govuk-list--bullet">
    <li>keep track of the information you give us during your application</li>
    <li>remember which language you want to view the service in</li>
    <li>understand how you use the service, so we can make improvements</li>
</ul>
<p class="govuk-body">Find out <a class="govuk-link" href="https://ico.org.uk/for-the-public/online/cookies/">how to
    manage cookies on the Information Commissioners' website.</a></p>

<h2 class="govuk-heading-m">Google Analytics cookie</h2>

<p class="govuk-body">We use Google Analytics to collect information about how you use the service. This information
    helps us to make improvements.</p>

<p class="govuk-body">The Google analytics cookie collects and stores information about:</p>
<ul class="govuk-list govuk-list--bullet">
    <li>the pages you visit - how long you spend on each page</li>
    <li>how you got to the service</li>
    <li>what you click on while you are using the service</li>
</ul>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_ga</td>
            <td class="govuk-table__cell">Used to identify unique users and inform referring sites, visitor and session
                counts.
            </td>
            <td class="govuk-table__cell">2 years</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gid</td>
            <td class="govuk-table__cell">Used to identify unique users and inform referring sites, visitor and session
                counts.
            </td>
            <td class="govuk-table__cell">24 hours</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">_gat_UA-133839203_4</td>
            <td class="govuk-table__cell">Used to protect the Google Analytics server by limiting the number of requests
                being made.
            </td>
            <td class="govuk-table__cell">1 minute</td>
    </tr>
    </tbody>
</table>

<p class="govuk-body">Google is not allowed to use or share our analytics data with anyone.</p>

<h2 class="govuk-heading-m">Session cookies</h2>

<p class="govuk-body">We store session cookies on your computer to remember your information and keep it secure while
    you use the service.</p>

<table class="govuk-table">
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Purpose</th>
            <th class="govuk-table__header" scope="col">Expires</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">htbhf.sid</td>
            <td class="govuk-table__cell">Used for session management.</td>
            <td class="govuk-table__cell">30 minutes after you open each service webpage.</td>
        </tr>
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">lang</td>
            <td class="govuk-table__cell">Remember your choice of language.</td>
            <td class="govuk-table__cell">30 minutes after you open each service webpage.</td>
        </tr>
    </tbody>
</table>


    </div>
  </div>
{% endblock %}
