{% extends "layout.html" %}

{% block pageTitle %}
  Have you updated your details?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="../feedback" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form action="/change-1-0/where-live-answer" method="post" class="form">

 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have you told the following that your details have changed?
      </h1>
    </legend>
    <ul class="govuk-list govuk-list--bullet">
      {% for benefit in data['benefits'] %}
        <li>{{ benefit }}</li>
      {% endfor %}
    </ul>
    <div class="ggovuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-live" name="where-live" type="radio" value="England" {{ checked("where-live", "England") }}>
        <label class="govuk-label govuk-radios__label" for="where-live">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="where-live" name="where-live" type="radio" value="Scotland">  
        <label class="govuk-label govuk-radios__label" for="where-live">
          No
        </label>
      </div>
      
    </div>
  </fieldset>
</div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


