{% extends "layout.html" %}

{% block pageTitle %}
  Help to buy healthy food
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Report a change in circumstances for the help to buy healthy food scheme
      </h1>

      <h2 class="govuk-heading-m">
       Changes you need to report
      </h2>

      <p>Your help to buy healthy food entitlement (the amount of money you get each month) depends on a number of different things. That is why you must tell us when you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>are pregnant</li>
        <li>give birth</li> 
      </ul>

      <p>We need your contact details for security checks, and to let you know about important information. So you must also tell us when you change your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>address</li>
        <li>mobile phone number</li>
        <li>email address</li>
      </ul>  

      <p>You do not need to let us know if your job or income changes. We will automatically be told this by other government departments.</p>


      <h2 class="govuk-heading-m">
       How to report a change
      </h2>

      <p>You can report a change using our online form. It will take around 5 minutes to complete.</p>

      <p>You will need your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>full name</li>
        <li>date of birth</li>
        <li>National Insurance number</li>
        <li>baby’s due date (if you are pregnant)</li>
        <li>postal address</li>
        <li>mobile phone number</li>
        <li>email address</li>
      </ul></p>

      <a href="are-you-pregnant" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>You can also update your details by calling the Healthy Start helpline on 0345 607 6823. You can <a href="https://www.gov.uk/call-charges" class="govuk-link">find call charge information on GOV.UK</a>.</p>


    </div>


    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
            <a class="govuk-link" href="start-eligible">Check if you are eligible for a help to buy healthy food prepaid card</a>
            </li>
            <li>
            <a class="govuk-link" href="/apply-2-1/start-page-apply">Apply for a help to buy healthy food prepaid card</a>
            </li>
            <li><a class="govuk-link" href="related/how-to-buy-with-prepaid-card">How to buy healthy food and milk with a prepaid card</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
