{% extends "layout.html" %}

{% block pageTitle %}
   What has changed?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form class="form" action="changed-answer" method="post">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Have any of these things changed?
      </h1>
    </legend>
    <span id="waste-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="changed" name="changed" type="checkbox" value="Name" {{ checked("changed", "Name") }}>
        <label class="govuk-label govuk-checkboxes__label" for="Name">
         Name
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="changed" name="changed" type="checkbox" value="Address" {{ checked("changed", "Address") }}>
        <label class="govuk-label govuk-checkboxes__label" for="Address">
          Address
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="changed" name="changed" type="checkbox" value="Mobile telephone number" {{ checked("changed", "Mobile telephone number") }}>
        <label class="govuk-label govuk-checkboxes__label" for="Mobile">
          Mobile telephone number
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="changed" name="changed" type="checkbox" value="Email address" {{ checked("changed", "Email address") }}>
        <label class="govuk-label govuk-checkboxes__label" for="Email">
          Email address
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="changed" name="changed" type="checkbox" value="None of these things have changed" {{ checked("changed", "None of these things have changed") }}>
        <label class="govuk-label govuk-checkboxes__label" for="changed">
          None of these things have changed
        </label>
      </div>
      
    </div>
  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


