{% extends "layout.html" %}

{% block pageTitle %}
  You cannot apply if you live in Scotland
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You need to tell X {{ data['Universal Credit'] }} that your details have changed for:</h1>
        <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>address</li>
      </ul>
        <p class="govuk-body">
          Once you have done this you will be able to update your details for your prepaid card.</a>
        </p>
      </div>
    </div>
 
{% endblock %}
