{% extends "layout.html" %}
{% block page_title %}
HMRC Secure Data Exchange Service (SDES)
{% endblock %}
{% block content %}

    <main role="main" id="content" class="document-collection" lang="en">

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="pub-c-title

        pub-c-title--bottom-margin">
            <p class="pub-c-title__context">Guidance</p>
            <h1 class="pub-c-title__text pub-c-title__text--long">
              HMRC Secure Data Exchange Service (SDES)
            </h1>
          </div>

        </div>

      </div>

      <div class="grid-row">
        <div class="column-two-thirds">
          <div class="govuk-metadata direction-ltr" data-module="toggle">
            <dl>
              <dt>Published:</dt>
              <dd>8 September 2017</dd>
              <dt>Last updated:</dt>
              <dd>8 September 2017, see all updates</dd>
            </dl>
          </div>

        </div>
      </div>

      <p class="app-c-lead-paragraph">Use SDES to securely transfer your documents to and from HM Revenue and Customs (HMRC) for certain services.</p>


      <div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
        <div class="column-third">
          <nav role="navigation" class="app-c-contents-list">
            <h2>
              Contents
            </h2>
            <ol class="app-c-contents-list__list">
              <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                <a class="app-c-contents-list__link" href="#register-for-sdes">
                  Register for and set up SDES
                </a>
              </li>
              <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                <a class="app-c-contents-list__link" href="#using-sdes">
                  Using SDES
                </a>
              </li>
              <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                <a class="app-c-contents-list__link" href="#security-information">
                  Security information
                </a>
              </li>
              <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                <a class="app-c-contents-list__link" href="#migrating-from-set-to-sdes">
                  Migrating from SET to SDES
                </a>
              </li>
              <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
                <a class="app-c-contents-list__link" href="#service-availability">
                  Service availability
                </a>
              </li>
            </ol>
          </nav>

        </div>
        <div class="column-two-thirds ">




            <div class="box--shaded">
              <p>If you’ve already registered, you can
                <a href="gateway/sign-in.html">sign in to your SDES account</a>.</p>
            </div><br>

            <p>SDES is a free, secure way to transfer files to and from HMRC using your Government Gateway account. It replaces the old Secure Electronic Transfer (SET) service.</p>

            <p>It can only be used to transfer specific types of data and isn’t for general use. Before you can use SDES, you must register and confirm that the data you’re wanting to transfer is supported by the service.</p><br>

            <h2>Register for and set up SDES</h2><br>
             <a id="register-for-sdes"></a>

            <p>To check if your data can be transferred using SDES you must first register by contacting the
              <a href="global/contact-us">SDES support team</a>.</p>

            <p>You’ll need to provide the team with details about your organisation, which they’ll use to check if the data you want to transfer is suitable for SDES.</p>

            <p>If it is, you’ll receive an email containing a service reference number. For security, you must call the number on the email to also get your activation code.</p><br>

            <h3>Set up SDES for the first time</h3>

            <p>Before you start, you’ll need:</p>

            <ul>
              <li class="list list-bullet">a <a href="gateway/sign-in.html">Government Gateway account</a> – if you don’t already have an account, you must set one up before you can use SDES</li>
              <li class="list list-bullet">your service reference number – found on your email</li>
              <li class="list list-bullet">an activation code – you can get this by calling the number on your email</li><br>
            </ul>

            <div class="box--shaded">
              <a href="gateway/sign-in.html">Sign in to SDES</a>
              and enter your security information to set up your account.
            </div>
<br>
            <p>Before using the service, you’ll need to read and accept the <a href="global/terms-and-conditions">terms and conditions</a> on behalf of your organisation. If you don’t have the authority to do this, you should show them to someone that does.
          </p><br>
          <h2>Using SDES</h2><br>
          <a id="using-sdes"></a>

          <p>Once you’ve registered for and set up SDES, you can start to use it to transfer your data using either:</p>

          <ul>
            <li class="list list-bullet">your web browser</li>
            <li class="list list-bullet">automated transfer via FTPS</li>
          </ul><br>

          <h3>Web browser</h3>

          <p>Using SDES via your web browser is the default option. You can use this option to upload and download files, and update your email preferences.</p>

          <p>To use SDES on a web browser, you must have Javascript enabled and be using the latest version of either:</p>

          <ul>
            <li class="list list-bullet">Internet Explorer</li>
            <li class="list list-bullet">Google Chrome</li>
            <li class="list list-bullet">Firefox</li>
            <li class="list list-bullet">Safari</li>
            <li class="list list-bullet">Opera</li>
          </ul><br>

          <h3>Automated transfer</h3>

          <p>Before you can use SDES via an automated connection, you need to
            <a href="global/contact-us">contact the SDES support team</a>
            who will help you set this up.</p>

          <p>You’ll also need:

            <ul>
              <li class="list list-bullet">software capable of transferring files via FTPS using TLS 1.2 protocol</li>
              <li class="list list-bullet">a network with access to the internet</li>
              <li class="list list-bullet">a static IP address range for whitelisting</li>
            </ul><br>

            <h2>Security information</h2><br>
            <a id="security-information"></a>

            <p>SDES can be used to transfer any file formats up to 10GB in size, apart from executable (.exe) and encrypted files, which will be automatically rejected.</p>

            <p>Files are retained in SDES for 6 days (144 hours), after which time they’re purged for security purposes and can’t be recovered.</p>

            <h3>Encryption</h3>

            <p>All connections to SDES are made using industry standard encryption:</p>

            <ul>
              <li class="list list-bullet">HTTPS - for web browser transfers</li>
              <li class="list list-bullet">TLS 1.2 protocols - for automated transfers</li>
            </ul><br>

            <p>Files are always encrypted during transit or at rest. There’s no direct access to any files within SDES, meaning that even HMRC technical support teams can’t access files.</p>

            <h3>Test uploads and downloads</h3>

            <p>SDES has the option to send and receive a test file known as a ‘proving file’. This is a specifically named file that doesn’t interfere with HMRC systems, but gives you the opportunity to verify upload and download capabilities.</p>

            <p>To run the proving file test, you must
              <a href="global/contact-us">contact the SDES support team</a>.</p><br>


               <h2>Manage users</h2><br>

            <p>To use SDES, you need to sign in using your organisation’s Government Gateway account. If someone needs to use SDES but they don’t have access to your organisation’s account, you’ll need to add them as a new user.
            </p>

            <p>For security reasons, you must not share your own sign-in details with other users.</p>

            <h3>Add a user</h3>

            <p>To add a user, <a href="https://myaccount.gateway.gov.uk/Pages/Credentials/View.aspx">sign in to the Government Gateway</a>, and follow the steps to add an ‘administrator or ‘assistant’. </p>

           <p>If you add the new user as an administrator, they’ll automatically have access to SDES. If you add them as an assistant, you’ll need to assign them to the Secure Electronic Transfer (SET) service - this is the old name for SDES and should be used for now.</p>

            <h3>Remove a user</h3>

            <p>To remove a user, <a href="https://myaccount.gateway.gov.uk/Pages/Credentials/View.aspx">sign in to the Government Gateway</a>, select either ‘Manage Administrators’ or ‘Manage Assistants’ and delete the relevant user. You can only do this if you’re an administrator.</p>

           <br>





            <h2>Migrating from SET to SDES</h2><br>
            <a id="migrating-from-set-to-sdes"></a>

            <p>If you currently use SET, you’ll be migrated over to SDES by February 2018. HMRC will contact you with details about how and when you can migrate.</p><br>

            <h2>Service availability</h2><br>
            <a id="service-availability"></a>

            <p>HMRC services may be slow during busy times. Check if there are any current problems with this service, or <a href="#">times it won’t be available</a>.</p>


        </div>
        <div data-sticky-element="" class="govuk-sticky-element govuk-sticky-element--hidden govuk-sticky-element--stuck-to-window govuk-sticky-element--enabled">
          <a class="app-c-back-to-top dont-print" href="#contents">
            <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
              <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
            </svg>
            Contents
          </a>

        </div>
      </div>



    </main>


        <!-- <p>Contents</p>

      <ul>
        <li><a>Register for and set up SDES</a></li>
        <li><a>Using SDES</a></li>
        <li><a>Security information</a></li>
        <li><a>Migrating from SET to SDES</a></li>
        <li><a>Service availability</a></li>
      </ul> -->


          <!-- <header>
        <h1 id="page-title">HMRC Secure Data Exchange Service (SDES)</h1>
      </header>
      <p>Use SDES to securely transfer your data to and from HM Revenue and Customs (HMRC) for certain services.</p>
      <div class="subsection">
        <h2>About the service</h2>
        <p>SDES is a free, secure way to transfer large files to and from HMRC using your Government Gateway account. It replaces the old Secure Electronic Transfer (SET) service.</p>
        <p>It can only be used to transfer specific types of data and isn’t for general use. Before you can use SDES, you must register and confirm that the data you’re wanting to transfer is supported by the service.</p>
      </div>
      <div class="subsection">
        <h2>Register for and set up SDES</h2>
        <p>To check if your data can be transferred using SDES you must first register by contacting the SDES Support Team.</p>
        <p>You’ll need to provide the team with details about your organisation. They’ll then use your information to check if the data you want to transfer is suitable for SDES.</p>
        <p>If it is, you’ll receive an email containing a service reference number. For security, you must call the number on the email to also get your activation code.</p>
      </div>
      <div class="subsection">
        <h2>Set up SDES for the first time</h2>
        <p>Before you start, you’ll need:</p>
        <ul class="bullets">
          <li>a Government Gateway account - if you don’t already have an account, you must set one up before you can use SDES</li>
          <li>your service reference number – found on your email</li>
          <li>an activation code - you can get this by calling the number on your email</li>
        </ul>
        <p>You can set up SDES by logging in and entering your security information.</p>
      </div>
      <a class="button" href="gateway/sign-in.html">Log in to SDES</a>-->
        </div>
      </div>
    </main>

  {% endblock %}
