{% extends "layout.html" %}
{% block page_title %}
Securely Exchange Documents With HMRC
{% endblock %}
{% block content %}

  <main id="wrapper" role="main">
    <div id="content">
      <div class="content__body start_page">
        <div class="alert alert--success" role="alert">
          <p class="alert__message">Thank you for your feedback. You are now signed out.</p>
        </div>
        <h1 class="heading-xlarge">
          Securely Exchange Documents With HMRC
        </h1>
        <h2>Before you start</h2>
        <ol>
          <li>
            <a href="https://www.tax.service.gov.uk/government-gateway-registration-frontend/choose-your-account?continue=%2Faccount&origin=unknown" target="_blank">Create a Government Gateway account
            </a>- you’ll have one if you’ve used HMRC online services before.</li>
          <li>
            <a href="dashboard/how-to-enrol">Register for the service
            </a>by calling us.</li>
        </ul>
        <p>
          <a class="button button--get-started" href="gateway/gg-sign-in" role="button">Start now</a>
        </p>
      </div>
    </div>
  </main>

{% endblock %}
