{% extends "layout.html" %}
{% block page_title %}
Contact us
{% endblock %}

{% block main_content %}



    <div class="content__body">
      <header>
        <h1 id="page-title">Contact us</h1>
      </header>
      <div class="subsection">
        <h2>Email</h2>
        <a href="mailto:MDTSSETCustomerManagement@hmrc.gsi.gov.uk">MDTSSETCustomerManagement@hmrc.gsi.gov.uk</a>
      </div>
      <div class="subsection">
        <h2>Phone</h2>
        <div class="contact">
          <p>Telephone<br>
          <strong>03000 597 222</strong></p>
          <p>Outside UK<br>
          <strong>+44 3000 597 222</strong></p>
        </div>
      </div>
      <div class="subsection">
        <h2>Opening times</h2>
        <p>9.00am to 5.30pm, Monday to Friday<br>
           <small>Closed weekends and bank holidays</small></p>
       </div>
    </div>



{% endblock %}
