{% extends "layout.html" %}
{% block page_title %}
  Give feedback
{% endblock %}

{% block main_content %}
  <style>

    .fileinput-button {
      position: relative;
      overflow: hidden;
    }
    .fileinput-button input {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      opacity: 0;
      -ms-filter: 'alpha(opacity=0)';
      font-size: 200px;
      direction: ltr;
      cursor: pointer;
    }

  </style>
  <div class="content__body">

    <div class="form-group">
      <h1>Give feedback</h1>
      <p><br>Overall, how did you feel about the service you received today?</p>
      <form class="form" id="feedbackForm" action="">
        <fieldset class="form-field-group">
          <label class="block-label">
            <input type="radio" name="group1" id="very-satisfied" value="5"/>
            Very satisfied
          </label>
          <label class="block-label">
            <input type="radio" name="group1" id="satisfied" value="4"/>
            Satisfied
          </label>
          <label class="block-label">
            <input type="radio" name="group1" id="neither-satisfied-or-dissatisfied" value="3"/>
            Neither satisfied or dissatisfied
          </label>
          <label class="block-label">
            <input type="radio" name="group1" id="dissatisfied" value="2"/>
            Dissatisfied
          </label>
          <label class="block-label">
            <input type="radio" name="group1" id="very-dissatisfied" value="1"/>
            Very dissatisfied
          </label>
        </div>
        <fieldset>
          <label>
            <p>How could we improve this service?</p>
            <textarea name="details" cols="40" rows="6"></textarea>
          </label>
          <p>(Limit is 1,200 characters)</p>
          <p>Please don't include any personal or financial information, for example your National Insurance or credit card numbers.</p>
        </fieldset>
        <a href="/stable/gateway/sign-in" class="button">Send feedback and sign out</a>
      </fieldset>
    </form>
  </div>
</div>
</div>
</div>
<!--
<aside class="sidebar">
<div class="section--blue-top sidebar--hidden-sm"></div>
<section>
<div id="user-name-and-last-login-holder" class="last-login" data-qa="last-login-summary">
  <h3 id="welcome-text">
    Welcome, Judy Powell
  </h3>
  <p class="last-login__more-details font-xsmall">Last sign in on 5 April 2017
    <a href="#" data-toggle-details="last-login-details">not right?</a>
  </p>
</div>
<div id="last-login-details" class="last-login-details js-hidden">
  <section id="last-login-detail" class="alert alert--slim alert--info">
    <p class="font-xsmall">
      <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/online-services-helpdesk">Contact HMRC</a>
      if it wasn't you.</p>
    <a class="minimise js-visible font-xsmall float--none" href="#">Minimise</a>
  </section>
</div>
<ul class="section__ul--link-list sidebar__list">
  <li class="sidebar__list-item font-xsmall">
    <a href="../dashboard/change-email">Change your contact email</a>
  </li>
</ul>
</aside>-->
</div>
</div>

{% endblock %}
