{% extends "layout.html" %}

{% block pageTitle %}
  Which of the following describes you best?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="what-is-your-name">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form action="/apply-1-2/describe-yourself-answer" method="post" class="form">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which of the following describes you best?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="describe-yourself" name="describe-yourself" type="radio" value="I am more than 10 weeks pregnant" {{ checked("describe-yourself", "I am more than 10 weeks pregnant") }}>
        <label class="govuk-label govuk-radios__label" for="describe-yourself">
          I am more than 10 weeks pregnant
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="describe-yourself" name="describe-yourself" type="radio" value="I have one or more children aged 3 or under" {{ checked("describe-yourself", "I have one or more children aged 3 or under") }}>
        <label class="govuk-label govuk-radios__label" for="describe-yourself">
          I have one or more children aged 3 or under
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="describe-yourself" name="describe-yourself" type="radio" value="I am more than 10 weeks pregnant AND I have one or more children aged 3 or under" {{ checked("describe-yourself", "I am more than 10 weeks pregnant AND I have one or more children aged 3 or under") }}>
        <label class="govuk-label govuk-radios__label" for="describe-yourself">
          I am more than 10 weeks pregnant AND I have one or more children aged 3 or under
        </label>
      </div>
    </div>
  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


