{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="manual-card-address">Back</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        About you
      </h2>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer">
            Sarah Philips
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            National Insurance number
          </dt>
          <dd class="app-check-your-answers__answer">
            QQ 12 34 56 C
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
            5 January 1998
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Baby's due date
          </dt>
          <dd class="app-check-your-answers__answer">
            12 March 2019
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> baby due date</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Address
          </dt>
          <dd class="app-check-your-answers__answer">
            72 Guild Street<br />
            London<br />
            SE23 6FH
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
      </dl>

       <h2 class="govuk-heading-m">
        About your partner
      </h2>

       <dl class="app-check-your-answers app-check-your-answers--short">
        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Name
          </dt>
          <dd class="app-check-your-answers__answer">
            Sarah Philips
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            National Insurance number
          </dt>
          <dd class="app-check-your-answers__answer">
            QQ 12 34 56 C
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

        <div class="app-check-your-answers__contents">
          <dt class="app-check-your-answers__question">
            Date of birth
          </dt>
          <dd class="app-check-your-answers__answer">
            5 January 1998
          </dd>
          <dd class="app-check-your-answers__change">
            <a href="#">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">Now send your application</h2>

      <p>
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <a class="govuk-button" href="confirmation" role="button">
        Accept and send application
      </a>

    </div>
  </div>
{% endblock %}
