{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          Every 4 weeks you will get<br><strong>£3.10</strong>
        </div>
      </div>

       <p>
        <a href="javascript:window.print()" class="print-link print-hidden js-visible">Download, print or email a copy of this page to keep</a>
      </p>

       <p>This is because you:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>have told us you are/are not pregnant</li>
        <li>[not] in full-time education</li>
        <li>have [number] children aged between 1 and 4 years old</li>
      </ul>

      <p>And you are:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>under/over 18</li>
        <li>have [number] children under 1 year old</li>
        <li>receiving [list any benefits]</li>
      </ul>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What if this information is wrong?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>If any of this information is wrong, you must <a href="https://www.gov.uk/report-benefits-change-circumstances" target="_blank">contact the Department for Work and Pensions (link opens in a new tab)</a> to update it.</p>
    <p> If you get Child Tax Credit, you must <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/tax-credits-enquiries" target="_blank">contact HMRC (link opens in a new tab)</a> to update your information instead.</p>
  </div>

 

This might change how many Healthy Start vouchers you will get.

</details>

      

      <h2 class="govuk-heading-m">What happens next</h2>
      <p>We will send your vouchers to the address you gave us. You should get your first vouchers in [timeframe].</p>
      <p>You will get [xx] vouchers every month until [reason for change including tell us when you have your baby]. You will then get [number of vouchers] vouchers instead.</p>
      <p>You can find out <a href="#">what you can buy with your vouchers</a> on GOV.UK.</p>


    </div>
  </div>

{% endblock %}
