{% extends "layout.html" %}

{% block pageTitle %}
  Do you live with a partner?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="are-you-pregnant">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


  <form action="/apply/live-with-partner-answer" method="post" class="form">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="live-with-partner">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Do you live with a partner?
      </h1>
    </legend>
    <span id="hint" class="govuk-hint">For example someone you are married to, or are in a civil partnership or relationship with.</span>
    <div class="govuk-radios govuk-radios--inline">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="live-with-partner" name="live-with-partner" type="radio" value="Yes" {{ checked("live-with-partner", "Yes") }}/>
        <label class="govuk-label govuk-radios__label" for="live-with-partner-yes">
          Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="live-with-partner" name="live-with-partner" type="radio" value="No" {{ checked("live-with-partner", "No") }}/>
        <label class="govuk-label govuk-radios__label" for="live-with-partner-no">
          No
        </label>
      </div>
    </div>
  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


