{% extends "layout.html" %}

{% block pageTitle %}
  What is your partner's date of birth?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="partner-name">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="manual-card-address" method="post">

   <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="partner-dob-hint" role="group">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        What is your partner's date of birth?
      </h1>
    </legend>
    <span id="partner-dob-hint" class="govuk-hint">
      For example, 31 3 1990
    </span>
    <div class="govuk-date-input" id="partner-dob">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="partner-dob-day"/>
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-dob-day" name="partner-dob-day" type="number" pattern="[0-9]*" value="{{ data['partner-dob-day'] }}"/>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="partner-dob-month"/>
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="partner-dob-month" name="partner-dob-month" type="number" pattern="[0-9]*" value="{{ data['partner-dob-month'] }}"/>
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="partner-dob-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="partner-dob-year" name="partner-dob-year" type="number" pattern="[0-9]*" value="{{ data['partner-dob-year'] }}"/>
        </div>
      </div>
    </div>
  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


