{% extends "layout.html" %}

{% block pageTitle %}
  Which of the following describes you best?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
  <a class="govuk-back-link" href="start-page">Back</a>
{% endblock %}

{% block content %}



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


 <form action="/apply/pregnant1-answer" method="post" class="form">

  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
      <h1 class="govuk-fieldset__heading">
        Which of the following describes you best?
      </h1>
    </legend>
    <div class="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pregnant1" name="pregnant1" type="radio" value="true">
        <label class="govuk-label govuk-radios__label" for="pregnant1-yes">
          I am pregnant, or am a parent or guardian with one or more children under the age of 4
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="pregnant1" name="pregnant1" type="radio" value="false">
        <label class="govuk-label govuk-radios__label" for="pregnant1-no">
          I am applying on behalf of someone else
        </label>
      </div>
    </div>
  </fieldset>
</div>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


