{% extends "layout.html" %}

{% block pageTitle %}
  What is your National Insurance Number?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
   <a class="govuk-back-link" href="one-time-passcode">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your email address?</h1>

      <form class="form" action="check-your-answers" method="post">

  <div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Email address
  </label>
  
  <input class="govuk-input" id="email" name="email" type="email" aria-describedby="email-hint" autocomplete="email" spellcheck="false">
</div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why do we need this?
    </span>
  </summary>
  <div class="govuk-details__text">
    We need your email address to send you important information about the scheme.
  </div>
</details>



        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


