{% extends "layout.html" %}

{% block pageTitle %}
Where should we send your prepaid card?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="national-insurance-number">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="mobile-number" method="post">

       <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      What is your address?
    </h1>
  </legend>

  <p class="govuk-body">
 This should be the same address you use for any other benefits you claim. 
</p>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      House number or name
      <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" value="{{ data['address-line-1'] }}"/>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">Street
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" value="{{ data['address-line-2'] }}"/>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" value="{{ data['address-town'] }}"/>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="{{ data['address-postcode'] }}"/>
  </div>

</fieldset>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why do we need this? 
    </span>
  </summary>
  <div class="govuk-details__text">
    This helps us to confirm your identity and check if you are eligible for this scheme. It also tells us where to send your prepaid card if you are eligible.
  </div>
</details>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
