{% extends "layout.html" %}

{% block pageTitle %}
Where should we send your prepaid card?
{% endblock %}

{% block beforeContent %}
{% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="manual-card-address">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="one-time-passcode" method="post">

       <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      What is your mobile number?
    </h1>
  </legend>

  <p>
 This should be the same mobile number you use for Universal Credit.
</p>

  <div class="govuk-form-group">
  <label class="govuk-label" for="telephone-number">
    UK mobile number
  </label>
  <input class="govuk-input govuk-input--width-20" id="telephone-number" name="telephone-number" type="tel" autocomplete="tel">
</div>

</fieldset>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why we ask for your mobile number
    </span>
  </summary>
  <div class="govuk-details__text">
    We need to know your mobile number because
  </div>
</details>

        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
