{% extends "layout.html" %}

{% block pageTitle %}
  Test prototype
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="../feedback" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Check if you are eligible for the help to buy healthy food scheme
      </h1>

      <h2 class="govuk-heading-m">
       Who can apply
      </h2>

      <p>You can apply if you are under the age of 18 and at least 10 weeks pregnant, even if you do not get any benefits.</p>
      <p>You can apply if you are over the age of 18 and at least 10 weeks pregnant, or have a child under the age of four years old, and you or your family get:
</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Income Support, or</li>
        <li>Income-based Jobseeker’s Allowance, or</li>
        <li>Income-related Employment and Support Allowance, or</li>
        <li>Child Tax Credit (with a family income of £16,190 or less per year)</li>
        <li>Universal Credit (with a family take home pay of £408 or less per month) </li>
      </ul>

      <h2 class="govuk-heading-m">
       Who cannot apply
      </h2>

      <p>If you are under the age of 16 your parent, guardian or carer must apply for you.</p>

      <p>This scheme is only available if you live in England, Wales or Northern Ireland. If you live in Scotland, visit the <a href="https://www.gov.scot/policies/maternal-and-child-health/" class="govuk-link">Scottish Government website for information</a>.</p></div>

    
  <div class="govuk-inset-text">
      <a class="govuk-link" href="start-page-apply">Apply for help to buy healthy food</a>
  </div>

  <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="start-page-apply">Apply for help to buy healthy food</a>
            </li>
            <li>
              <a class="govuk-link" href="start-page-transfer">Move from Healthy Start to help to buy healthy food
              </a>
            </li>
            <li>
              <a class="govuk-link" href="holding-page">Tell us about a change of details</a>
            </li>
            <li><a class="govuk-link" href="related/how-to-buy-with-prepaid-card">How to buy healthy food and milk with a prepaid card</a></li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>
{% endblock %}
