{% extends "layout.html" %}
{% block page_title %}
Choose your account
{% endblock %}
{% block main_content %}

  <div class="content__body">
    <form class="form" action="enter-your-details">
      <div class="form-group">
        <a class="link-back back-to-previous" href='#' onclick="goBack()">Back</a>
      </div>
      <fieldset>
        <legend class="heading-large" role="heading" aria level="1">Choose your account</legend>
        <legend role="paragraph">Select the Government Gateway account you want to create</legend>
        <div class="form-group">
          <label class="block-label">
            <input type="radio" class="top-aligned-input" value="ltd" name="orgtype" id="1">
            <span class="bold-small">Individual</span>
            <span class="form-hint-secondary">You want to use our online services for your personal tax. For example, if you're self employed.</span>
          </label>
          <label class="block-label">
            <input type="radio" class="top-aligned-input" value="ua" name="orgtype" id="2">
            <span class="bold-small">Organisation</span>
            <span class="form-hint-secondary">You represent an organisation. For example a limited company, partnership or charity.</span>
          </label>
          <label class="block-label">
            <input type="radio" class="top-aligned-input" value="ua" name="orgtype" id="3">
            <span class="bold-small">Agent</span>
            <span class="form-hint-secondary">You want to act on behalf of your client(s), whether paid or acting in a voluntary capacity.</span>
          </label>
          <label class="block-label">
            <input type="radio" class="top-aligned-input" value="unltd" name="orgtype" id="4">
            <span class="bold-small">Pensions</span>
            <span class="form-hint-secondary">You want to use our online Services as a Pension Scheme Administrator or a Pension Scheme Practitioner.</span>
          </label>
        </div>
      </fieldset>
      <button class="button" role="button">Continue</button>
    </form>
  </div>

{% endblock %}

{% block custom_scripts %}
  <script>
    function change_link(loc) {
      $('form.form').attr('action', loc);;
    }
  </script>
{% endblock %}
