{% extends "layout.html" %}
{% block page_title %}
Sign in
{% endblock %}
{% block main_content %}
  <div class="content__body">
    <h1 class="heading-xlarge">
      Sign in
    </h1>
    <p>Enter your Government Gateway credentials to sign in. You received these when you created your HMRC online account.</p>
    <form class="form" name="signin" action="../enrolement/enrolement.html">
      <div class="form-group">
        <label class="form-label-bold" for="userId">User ID</label>
        <input type="text" class='form-control' id="userId" name="userId"/>
      </div>
      <div class="form-group">
        <label class="form-label-bold" for="password">Password</label>
        <input type="password" class='form-control' id="password" name="password"/>
      </div>
      <input type="hidden" name="submitted" value="yes"/>
      <div class="form-group">
        <input type="submit" class="button" id="sign-individual" value="Sign in">
      </div>
    </form>
    <h2>Problems signing in</h2>
    <ul>
      <li>
        <a id="registration" href="choose-your-account">Don’t have a Government Gateway account</a>
      </li>
      <li>
        <a
          id="forgotten-user-id"
          href="https://www.tax.service.gov.uk//government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=userId"
          target="_self"
          data-sso="false"
          data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id">Forgotten user ID</a>
      </li>
      <li>
        <a
          id="forgotten-password"
          href="https://www.tax.service.gov.uk//government-gateway-lost-credentials-frontend/choose-your-account?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=password"
          target="_self"
          data-sso="false"
          data-journey-click="sos_gg_login:gg_login_end:forgotten_password">Forgotten password</a>
      </li>
      <li>
        <a
          id="forgotten-user-id-and-password"
          href="https://www.tax.service.gov.uk//government-gateway-lost-credentials-frontend/choose-password-saved?continue=%2Faccount&amp;origin=unknown&amp;forgottenOption=userIdAndPassword"
          target="_self"
          data-sso="false"
          data-journey-click="sos_gg_login:gg_login_end:forgotten_user_id_and_password">Forgotten user ID and password</a>
      </li>
    </ul>
    <div class="report-error">
      <script type="text/javascript">
        var reportProblemAjaxUrl = "/contact/problem_reports_ajax";
      </script>
      <a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
      <a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs">Get help with this page.</a>
      <div id="report-error-partial-form" class="report-error__content js-hidden">
        <h2>Get help using this service</h2>
        <p>Don't include any personal or financial information. For example, your National Insurance or credit card numbers.</p>
        <form action="/contact/problem_reports_secure" method="POST" id="error-feedback-form" class="form--feedback" novalidate="novalidate">
          <fieldset>
            <legend class="visuallyhidden">Get help using this service</legend>
            <div class="form-group-compound">
              <label for="report-name" class="form-label">Name</label>
              <input id="report-name" maxlength="70" class="input--fullwidth form-control" name="report-name" type="text" data-rule-letterswithbasicpunc="true" data-rule-required="true" data-msg-required="Please provide your name." aria-required="true">
            </div>
            <div class="form-group-compound">
              <label for="report-email" class="form-label">Email</label>
              <input id="report-email" maxlength="255" class="input--fullwidth form-control" name="report-email" type="email" data-rule-required="true" data-rule-email="true" data-msg-required="Please provide your email address." aria-required="true">
            </div>
            <div class="form-group-compound">
              <label for="report-action" class="form-label">What were you doing?</label>
              <input id="report-action" maxlength="1000" class="input--fullwidth form-control" name="report-action" type="text" data-rule-required="true" data-msg-required="Please enter details of what you were doing." aria-required="true">
            </div>
            <div class="form-group-compound">
              <label for="report-error" class="form-label">What do you need help with?</label>
              <input id="report-error" maxlength="1000" class="input--fullwidth form-control" name="report-error" type="text" data-rule-required="true" data-msg-required="Please enter details of what went wrong." aria-required="true">
            </div>
            <input type="hidden" name="isJavascript" value="true">
            <input type="hidden" name="referrer" value="https://www.tax.service.gov.uk/gg/sign-in?continue=%2Faccount&amp;origin=unknown">
            <div class="form-field">
              <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">Send</button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
