{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="juggling-balls">Back</a>
{% endblock %}

{% block content %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">


      <h1 class="govuk-heading-l">
        You don't qualify for a juggling licence
      </h1>

      <p>Registered jugglers must be able to juggle at least 2 balls.</p>

      <p><a href="#">Find juggling instructors near you</a></p>

    </div>
  </div>
</main>

{% endblock %}