{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}
 
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      
{% if data['pregnancy-day'] %}
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Baby's due date
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['pregnancy-day'] }} {{ data['pregnancy-month'] }} {{ data['pregnancy-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="due-date">
              Change<span class="govuk-visually-hidden"> baby due date</span>
            </a>
          </dd>
        </div>
{% endif %}

{% if data['email'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['email'] }}
           </dd>
          <dd class="govuk-summary-list__actions">
            <a href="new-email-address">
              Change<span class="govuk-visually-hidden"> mobile number</span>
            </a>
          </dd>
         </div>
{% endif %}

{% if data['mobile-number'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Mobile telephone number
            </dt>
             <dd class="govuk-summary-list__value">
              {{ data['mobile-number'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a href="new-mobile-number">
                Change<span class="govuk-visually-hidden"> mobile number</span>
              </a>
            </dd>
          </div>
{% endif %}


      </dl>


      <a class="govuk-button" href="agree-statement" role="button">
        Continue
      </a>

    </div>
{% endblock %}
