{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  We’ve updated your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">We already have a pregnancy on record for you</h1>
      </div>

        <p>If your situation has changed or you think a mistake has been made:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>call 0300 330 7010</li>
          <li>select option 3</li>
        </ul>
        
        <h2 class="govuk-heading-m">Give feedback</h2> 
     <p><a href="../feedback"> What did you think of this service?</a> (takes 30 seconds).</p> 


    </div>
  </div>

{% endblock %}
