{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  We’ve updated your details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">We’ve updated your details</h1>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

        <p>We’ve sent you an email with more information.</p>

         <p>If you did not request any changes:</p>

          <ul class="govuk-list govuk-list--bullet">
          <li>call 0300 330 7010</li>
          <li>select option 3</li>
        </ul>
        <a href="../feedback" role="button" class="govuk-button">Give feedback</a>

    </div>
  </div>

{% endblock %}
