{% extends "layout.html" %}

{% block pageTitle %}
  Report a change
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Get money off milk, food and vitamins (Healthy Start)
      </h1>

      
    <p class="govuk-body">Contents</p>

    <ul class="govuk-list">
        
         <li>
          &#8212; <a href="guidance-how-it-works">How it works</a>
        </li>
        <li>
          &#8212; <a href="guidance-eligibility">Eligibility</a>
        </li>
         <li>
         &#8212; <a href="guidance-what-you-get">What you’ll get</a>
        </li>
        <li>
         &#8212; <a href="guidance-buy">What you can buy</a>
        </li>
        <li>
         &#8212; <a href="guidance-using-your-card">Using your card</a>
        </li>
        <li>
         &#8212; <a href="guidance-apply">Apply for Healthy Start</a>
        </li>
       <li>
         &#8212; Report a change
        </li>
      </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>

<div class="govuk-grid-column-two-thirds">  

      <h2 class="govuk-heading-l">
       Report a change
      </h2>

<p>You must always report a change in your circumstances or personal details. This includes a: </p>      

<ul class="govuk-list govuk-list--bullet">
  <li>name change</li>
  <li>change of contact details</li> 
  <li>new pregnancy</li>
  </ul>

 <hr class="govuk-section-break govuk-section-break--m">
<p>If you’re claiming any benefits you must also tell the <a href="https://www.gov.uk/report-benefits-change-circumstances"> benefit agencies</a> about these changes. </p>

  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
     If you deliberately do not report changes to the benefit agencies, you’re committing <a href="https://www.gov.uk/benefit-fraud"> benefit fraud</a>.
  </strong>
</div>

 <h3 class="govuk-heading-m">What you’ll need</h3>
 <p>Make sure you have your:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>National Insurance number </li>
  <li>baby’s due date (if reporting a pregnancy)</a></li>
  <li>mobile phone if you’re updating your number</li>
  <li>access to your email if you’re updating your email address</li>
</ul>

 <hr class="govuk-section-break govuk-section-break--m">

<a href="what-is-your-name" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
 Start now
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<ul class="govuk-list">
  <li>
    <a class="govuk-link" style="text-decoration: none; display: block; padding: 3px;" href="guidance-apply">
      <span style="padding-right: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
              <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
            </svg>
            </span>

            <span><strong>Previous</strong></span><br>
            <span style="margin-left:40px;">Apply for Healthy Start</span>

          </a>
  </li>
</ul>
    </div>

 

  </div>
{% endblock %}
