{% extends "layout.html" %}

{% block pageTitle %}
  Prototype index
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prototype iterations
      </h1>


      <h2 class="govuk-heading-l">Dev baseline prototype</h2>
      <h3 class="govuk-heading-m"><a href="BASELINE/guidance-how-it-works">For reference to Jira tickets</a></h3>
      <ul class="govuk-list govuk-list--bullet govuk-heading-m">
      <li><a href="BASELINE/confirmation-unsuccessful"> Private Beta 20 - unsuccessful screen</a></li>
    </ul>

       <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Private Beta</h2>

       <span class="govuk-caption-l">Iteration 8, 9</span>
      <h3 class="govuk-heading-m">11 June 2019 - current </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply-2-2/guidance-how-it-works"> Apply v2.2 - to t's and c's</a></li>
            <li><a href="apply-2-2/confirmation-success"> Apply v2.2 - successful screen</a></li>
            <li><a href="apply-2-2/confirmation-unsuccessful"> Apply v2.2 - unsuccessful screen</a></li>
             <ul class="govuk-list govuk-list--bullet">
            <li>Leeds testing 15th July x 6 users</li>
          </ul>
          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

       <span class="govuk-caption-l">Iteration 7</span>
      <h3 class="govuk-heading-m">30 May 2019 - 10 June 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply-2-1/start-page-apply"> Apply & transfer v2.1 - Single journey</a></li>
             <ul class="govuk-list govuk-list--bullet">
            <li>Calling users and applying for them using the prototype as if they called contact centre</li>
          </ul>

      <span class="govuk-caption-l">Not linked in main journey</span>
      <h3 class="govuk-heading-m">Unhappy screens</h3>
      <ul class="govuk-list govuk-list--bullet govuk-heading-m">
           

          </ul>

          <h3 class="govuk-heading-m">Email notifications</h3>
      <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="https://docs.google.com/document/d/1mN_3nDXxqQoxRoHGgy1dAD9uHsLqjtV-IxgGYh8xhUs/edit" target="Blank"> Prepaid card is on it's way</a></li>

          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

       <span class="govuk-caption-l">Iteration 6</span>
      <h3 class="govuk-heading-m">16 May 2019 - 29 May 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">

            <li><a href="change-1-0/start-page-update"> Change of circumstances v2.1 - Pregnant & Address</a></li>
             <ul class="govuk-list govuk-list--bullet">
            <li>Remote testing with 5 users using their own devices</li>
            <li>Locations include Cardiff, Newcastle, Norfolk, Glossop, Southport</li>
            <li>Users telling us about a new pregnancy and new address</li>
            <li>5 users completed successfully (1 accessibility user)</li>

          </ul>

          </ul>

          <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<span class="govuk-caption-l">Iteration 5</span>
      <h3 class="govuk-heading-m">02 May 2019 - 15 May 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply-2-0/start-scheme"> Apply & transfer v2.0 - ID verification</a></li>
          </ul>

          <ul class="govuk-list govuk-list--bullet">
            <li>Tested with 4 existing users in Southend on a laptop</li>
            <li>Tested with 4 existing users and 1 new user in Kennington on a mobile device</li>
            <li>1 user had accessibility needs and 2 users were assisted digtal</li>

          </ul>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

       <span class="govuk-caption-l">Iteration 4</span>
      <h3 class="govuk-heading-m">07 Feb 2019 - 20 Feb 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply-1-2/start-page"> Apply v1.2 - apply for you, successful application</a></li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/start-page">Start page</a></h4>
          <ul class="govuk-list govuk-list--bullet">
            <li>Added in ‘the age of’ to content for users where English is not their first language</li>
            <li>Removed messaging around receiving an instant decision to align with current dev API access.</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/which-user">Who is applying</a></h4>
          <ul class="govuk-list govuk-list--bullet">
            <li> Simplified ‘I am pregnant, or am a parent or guardian with one or more children under the age of 4’ -  by splitting it into 2 questions rather than 1. Those where English is not their 1st language found this difficult to understand</li>
            <li>Changed language from ‘on behalf of’ to ‘for’ as it confused some users</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/describe-yourself">Which of the following best describes you</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>This is a new question as described in point 2 of 'who is applying'.</li>
          <li>'Under 4' caused confusion in V1 testing as some users questioned if a 4-year old was still eligible. We are trying 'aged 3 or under' instead.</li>
          <li>Some users may be pregnant and have children, so we are testing a combined option for clarity.</li>
        </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/due-date">When is your baby due to be born</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>This is now a conditional question if the user selects ‘I am pregnant’ which explicitly asks for the baby’s due date from ‘Which of the following describes you’. 1 user was confused by being asked this question after selecting a statement which already said she was pregnant on the first question.</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/manual-card-address">Delivery address</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>The H1 has been changed to make it clearer that it is a delivery address we are asking for. All users missed this.</li>
          <li>Address labels have been changed as the word 'building' caused some confusion, as she wasn't sure if this meant the house number, in the end she left off the house number, as it wasn't actually specifically asking for that.</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/confirmation">Confirmation page</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>The negative statements from the confirmation page such as ‘you have told us you are not pregnant’ etc have been removed. Users asked why we were showing them this information and felt it was unnecessar.</li>
          <li>The H1 has been changed to emphasise this is the end of the application process.</li>
          <li>Numbered next steps have been added to increase user engagement. Few users read this page in V1 testing.</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/privacy-notice">Privacy notice</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>Added and linked to from the start and check your answers pages.</li>
          <li>Illustrative data retention added until true facts are known.</li>
          <li>Consent added to the declaration on the <a href="apply-1-2/check-your-answers">check your answers</a> screen following GDPR advice</li>
          </ul>

          <h4 class="govuk-heading-s"><a href="apply-1-2/privacy-notice">Cookies</a></h4>
           <ul class="govuk-list govuk-list--bullet">
          <li>Added and linked to from the privacy notice page.</li>
          </ul>
    
       <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


           <span class="govuk-caption-l">Iteration 3</span>
      <h3 class="govuk-heading-m">24 Jan - 06 Feb 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply/start-page"> Apply v1.1 - apply for you, successful application</a></li>
          </ul>
          <p>First test of new prototype, tested in Nomony Childrens centre Plymouth on 5-6th Feb 2019 with users who needed a translator,and English as a second language</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

     <h2 class="govuk-heading-l">Alpha</h2>
          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="https://healthy-start-application.herokuapp.com/overview?record=existinge"> Apply - Existing user</a></li>
            <li><a href="https://healthy-start-application.herokuapp.com/overview"> Apply - New user</a></li>
          </ul>
          <p>Iterations created by Pilotworks. Username and password required for access</p>
              


    </div>

  </div>
{% endblock %}
