{% extends "layout.html" %}

{% block pageTitle %}
  Prototype index
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prototype iterations
      </h1>


      <h2 class="govuk-heading-l">Dev baseline prototype</h2>
      <h3 class="govuk-heading-m"><a href="BASELINE/start-page">For reference to Jira tickets</a></h3>

       <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">Private Beta</h2>


       <span class="govuk-caption-l">Sprint Iteration 4</span>
      <h3 class="govuk-heading-m">07 Feb 2019 - 20 Feb 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply-1-2/start-page"> Apply v1.2 - apply for you, successful application</a></li>
          </ul>
    
       <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


           <span class="govuk-caption-l">Sprint Iteration 3</span>
      <h3 class="govuk-heading-m">24 Jan - 06 Feb 2019 </h3>

          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="apply/start-page"> Apply v1.1 - apply for you, successful application</a></li>
          </ul>
          <p>First test of new prototype, tested in Nomony Childrens centre Plymouth on 5-6th Feb 2019 with users who needed a translator,and English as a second language</p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

     <h2 class="govuk-heading-l">Alpha</h2>
          <ul class="govuk-list govuk-list--bullet govuk-heading-m">
            <li><a href="https://healthy-start-application.herokuapp.com/overview?record=existinge"> Apply - Existing user</a></li>
            <li><a href="https://healthy-start-application.herokuapp.com/overview"> Apply - New user</a></li>
          </ul>
          <p>Iterations created by Pilotworks. Username and password required for access</p>
              


    </div>

  </div>
{% endblock %}
