{% extends "layout.html" %}
{% block page_title %}
  What’s your contact email address?
{% endblock %}
{% block main_content %}


<article class="content__body">
  <div id="back">
    <a class="link-back" href='#'onclick="goBack()">Back</a>
  </div>
  <form action="/stable/enrolement/email-confirmation" method="get" class="js-form">
    <div class="flash error-summary" id="error-summary-display" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
      <h2 id="error-summary-heading" class="h3-heading">There's a problem</h2>
      <ul class="js-error-summary-messages">
      </ul>
    </div>
    <header>
      <h1 id="page-title">What’s your contact email address?</h1>
    </header>
    <div class="subsection">
      <p>Choose an address that can be used by everybody who needs updates about documents.</p>
      <p>We’ll only email you when:</p>
      <ul class="bullets">
        <li>you have a new document to download</li>
        <li>we’re about to delete a document</li>
        <li>we find a problem with your documents</li>
        <li>we deliver your documents to the right department</li>
      </ul>
    </div>

    <div class="form-field-group">
      <label class="form-label" for="emailAddress"><strong>Email address</strong></label>
      <span class="error-notification" data-input-name="reference"></span>
      <input class="form-control" name="email" id="emailAddress" type="email" required data-msg-required="Enter a valid email address" data-msg-email="Enter a valid email address">
    </div>
    <div class="form-field form-field--submit">
      <input id="submit" class="button" type="submit" value="Continue">
    </div>
  </form>

  <div class="report-error">
<script type="text/javascript">
var reportProblemAjaxUrl = "/contact/problem_reports_ajax";
</script>
<a class="report-error__toggle js-visible" id="get-help-action" href="form-label">Get help with this page.</a>
<a class="report-error__toggle js-hidden" href="/contact/problem_reports_nonjs">Get help with this page.</a>
<div id="report-error-partial-form" class="report-error__content js-hidden">
<h2>Get help using this service</h2>
<p>Don't include any personal or financial information. For example, your National Insurance or credit card numbers.</p>
<form action="/contact/problem_reports_secure" method="POST" id="error-feedback-form" class="form--feedback" novalidate="novalidate">
<fieldset>
  <legend class="visuallyhidden">Get help using this service</legend>
  <div class="form-group-compound">
    <label for="report-name" class="form-label">Name</label>
    <input id="report-name" maxlength="70" class="input--fullwidth form-control" name="report-name" type="text" data-rule-letterswithbasicpunc="true" data-rule-required="true" data-msg-required="Please provide your name." aria-required="true">
  </div>
  <div class="form-group-compound">
    <label for="report-email" class="form-label">Email</label>
    <input id="report-email" maxlength="255" class="input--fullwidth form-control" name="report-email" type="email" data-rule-required="true" data-rule-email="true" data-msg-required="Please provide your email address." aria-required="true">
  </div>
  <div class="form-group-compound">
    <label for="report-action" class="form-label">What were you doing?</label>
    <input id="report-action" maxlength="1000" class="input--fullwidth form-control" name="report-action" type="text" data-rule-required="true" data-msg-required="Please enter details of what you were doing." aria-required="true">
  </div>
  <div class="form-group-compound">
    <label for="report-error" class="form-label">What do you need help with?</label>
    <input id="report-error" maxlength="1000" class="input--fullwidth form-control" name="report-error" type="text" data-rule-required="true" data-msg-required="Please enter details of what went wrong." aria-required="true">
  </div>
  <input type="hidden" name="isJavascript" value="true">
  <input type="hidden" name="referrer" value="https://www.tax.service.gov.uk/gg/sign-in?continue=%2Faccount&amp;origin=unknown">
  <div class="form-field">
    <button id="report-submit" class="button" type="submit" data-journey-click="page:Click:Get help with this page Submit">Send</button>
  </div>
</fieldset>
</form>
</div>
</div>

  {% endblock %}
