{% extends "layout.html" %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}
 
 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers
      </h1>

      <!-- only add a heading for a list if there is more than one list -->
      <h2 class="govuk-heading-m">
        About you
      </h2>
      <!-- use additional modifier class to change column widths for multiple groups of questions and answers: -->
      <!--   * `app-check-your-answers--short` for short questions -->
      <!--   * `app-check-your-answers__questions-long` for long questions -->
      <!--   * none for single group of q&a -->
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you live in Scotland?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['where-live'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="do-you-live-in-scotland">
              Change<span class="govuk-visually-hidden"> where do you live</span>
            </a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['dob-day'] }} {{ data['dob-month'] }} {{ data['dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="date-of-birth">
              Change<span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefits?
          </dt>
           <dd class="govuk-summary-list__value">
           {{ data['on-benefits'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="are-you-on-benefits">
              Change<span class="govuk-visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>

        {% if data['on-benefits'] === 'Yes' %}
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which benefits are you on?
          </dt>
           <dd class="govuk-summary-list__value">
           {{ data['benefits'] }}
          </dd>
         <dd class="govuk-summary-list__actions">
            <a href="which-benefits">
              Change<span class="govuk-visually-hidden"> benefits</span>
            </a>
          </dd>
        </div>
        {% endif %}

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Are you pregnant?
          </dt>
           <dd class="govuk-summary-list__value">
           {{ data['pregnant'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="are-you-pregnant">
              Change<span class="govuk-visually-hidden"> if you are pregnant</span>
            </a>
          </dd>
        </div>

{% if data['pregnant'] === 'Yes' %}
         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Baby's due date
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['pregnant-dob-day'] }} {{ data['pregnant-dob-month'] }} {{ data['pregnant-dob-year'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="are-you-pregnant">
              Change<span class="govuk-visually-hidden"> baby due date</span>
            </a>
          </dd>
        </div>
{% endif %}


         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['first-name'] }} {{ data['last-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="what-is-your-name">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>


         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            National Insurance number
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['national-insurance-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="national-insurance-number">
              Change<span class="govuk-visually-hidden"> national insurance number</span>
            </a>
          </dd>
        </div>

       

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-line-1'] }}<br />
            {{ data['address-line-2'] }}<br />
            {{ data['address-town'] }}<br />
            {{ data['address-county'] }}<br />
            {{ data['address-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="manual-card-address">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
      

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Mobile telephone number
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['mobile-number'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="mobile-number">
              Change<span class="govuk-visually-hidden"> mobile number</span>
            </a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
           <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="email-address">
              Change<span class="govuk-visually-hidden"> mobile number</span>
            </a>
          </dd>
        </div>
</dl>


      <h2 class="govuk-heading-m">
        About your children
      </h2>



       <dl class="govuk-summary-list govuk-!-margin-bottom-9">

  <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Children under 4 years old?
          </dt>
           <dd class="govuk-summary-list__value">
           {{ data['do-you-have-kids'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="do-you-have-kids">
              Change<span class="govuk-visually-hidden"> do you have kids</span>
            </a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {% for i in range(0, data['children-u4']) -%}
            Name <br>Date of birth <br><br>
             {%- endfor %}
          </dt>
           <dd class="govuk-summary-list__value">
            {% for i in range(0, data['children-u4']) -%}
              <p> {{ data['c' + i + '-child-name'] }} <br> {{ data['c' + i + '-dob-day'] }} / {{ data['c' + i + '-dob-month'] }} / {{ data['c' + i + '-dob-year'] }}</p>
            {%- endfor %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="child1-date-of-birth">
              Change<span class="govuk-visually-hidden"> enter childrens birth dates</span>
            </a>
          </dd>
        </div>
         
      </dl>


      <a class="govuk-button" href="agree-statement" role="button">
        Continue
      </a>

    </div>
{% endblock %}
