{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Application not successful</h1>
        <div class="govuk-panel__body">
          You will not be sent a Healthy Start card
        </div>
      </div>
<!-- 
      <p>This may be because:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the personal details you entered do not match the benefit or benefits you selected</li>
          <p class="govuk-body">Try again by changing your details.</p>
           <p class="govuk-body">If you’ve recently changed your name or contact details make sure you’ve told the relevant benefit agency. Then try again.</p>
          <li>you’re not entitled to a Healthy Start card</li>
          <p class="govuk-body">Find out who can apply for a Healthy Start card. You can apply again if your situation changes.</p>
          
        </ul>
 -->
         <p>This may be because:</p>

         <div class="govuk-accordion" data-module="accordion" id="accordion-default">

  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          The personal details you entered do not match the benefit or benefits you selected
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
      <p class='govuk-body'><a href="guidance-apply">Try again</a> by changing your details.</p>
      <p class='govuk-body'>If you’ve recently changed your name or contact details make sure you’ve told the relevant benefit agency. Then try again.</p>
    </div>
  </div>
  
  <div class="govuk-accordion__section ">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          You’re not entitled to a Healthy Start card
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
      <p class='govuk-body'>Find out who can <a href="guidance-eligibility"> apply for a Healthy Start card</a>. You can apply again if your situation changes.</p>
    </div>
  </div>

</div>
       

           <h2 class="govuk-heading-m">Report a problem</h2>
           <p class="govuk-body">If you did not apply or you think a mistake has been made, contact 0300 XXX XXXX</p>

  

     


    </div>
  </div>

{% endblock %}
