{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirm-success
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">Application complete</h1>
        <div class="govuk-panel__body">
          You're entitled to<br><strong>£3.10</strong> a week. Your first payment will be <strong>£12.40</strong>.
        </div><br>
       
      </div>

       
      <h2 class="govuk-heading-m">What happens next</h2>
        <p>We’ve sent you an email with more information.</p>
        <p>You should receive your prepaid card by post within X working days. If you do not receive it contact XX XXX XXXX.</p>

        <p>Your card will be topped up every 4 weeks. You must<a href="#">  spend all the money within 16 weeks</a> to make sure you get this full amount.</p>
        <p>You must <a href="#"> report any change in your circumstances or personal details</a>.</p>

    </div>
  </div>

{% endblock %}
