{% extends "layout.html" %}

<!-- Adds a class to increase vertical spacing for pages without a back button -->
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block pageTitle %}
  Confirmation page
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        
        <h1 class="govuk-panel__title">Application successful</h1>
        <div class="govuk-panel__body">
          You're entitled to<br><strong>£3.10</strong> a week. Your first payment will be <strong>£12.40</strong>.
        </div><br>
       
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

        <p>We’ve sent you an email with more information.</p>
        <p>You should receive your prepaid money card by post within 5 to 10 working days. It will come with your first payment on it.</p> 

          <p>If you do not receive your card: </p>

          <ul class="govuk-list govuk-list--bullet">
          <li>call 0300 330 7010</li>
          <li>select option 2 and follow the instructions</li>
        </ul>

        <p>Money will be added to your card every 4 weeks.  You must<a href="guidance-what-you-get">  spend all the money within 16 weeks</a> to make sure you get this full amount.</p>
        <p>You must <a href="guidance-report-a-change"> report any change in your circumstances or personal details</a>.</p>

        <a href="../feedback" role="button" class="govuk-button">Continue</a>

    </div>
  </div>

{% endblock %}
