{% extends "layout.html" %}

{% block pageTitle %}
  Guidance2
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {% from 'phase-banner/macro.njk' import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service - your <a href="#" class="govuk-link">feedback</a> will help us to improve it.'
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Get money off milk, food and vitamins (Healthy Start)
      </h1>

      
    <p class="govuk-body"> Contents</p>

    <ul class="govuk-list">
        
         <li>
          &#8212; <a href="guidance-how-it-works">How it works</a>
        </li>
        <li>
         &#8212; Eligibility
        </li>
       <li>
         &#8212; <a href="guidance-apply">Apply for Healthy Start</a>
        </li>
        </li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  </div>

<div class="govuk-grid-column-two-thirds">  

      <h2 class="govuk-heading-l">
       Eligibility
      </h2>

      <p>You must:</p>

      <ul class="govuk-list govuk-list--bullet">
       <li>be at least 10 weeks pregnant</li>
        <li>have a child aged 3 years old or younger</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m">

       <p>You must also be receiving any of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
       <li>Income Support</li>
        <li>income-based Jobseeker's Allowance</li>
        <li>income-based Jobseeker's Allowance</li>
        <li>Child Tax Credit (but only if your family’s annual income is £16,190 or less)</li>
        <li>Universal Credit (but only if your family earns £408 or less per month from employment)</li>
        <li>State Pension Credit</li>
        <li>Working Tax Credit ></li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--m">

       <p>You’ll also be able to apply even if you do not receive any benefits and you’re:</p>

      <ul class="govuk-list govuk-list--bullet">
       <li>under 18 and pregnant</li>
        <li>under 20, pregnant and in full-time education</li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

 <ul class="govuk-list">
  <li>
    <a class="govuk-link" href="guidance-how-it-works"><strong> < Previous</strong> - How it works</a>
  </li><br>
  <li>
    <a class="govuk-link" href="guidance-apply"><strong> > Next</strong> - Apply for Healthy Start</a>
  </li>
   </ul>


    </div>

  <div class="govuk-grid-column-one-third">


    </div>

  </div>
{% endblock %}
