{% extends "layout.html" %}

{% block pageTitle %}
What's your address?
{% endblock %}

{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{{ govukPhaseBanner({
  tag: {
    text: "beta"
  },
  html: 'This is a new service – your <a class="govuk-link" href="../feedback">feedback</a> will help us to improve it.'
}) }}
  <a class="govuk-back-link" href="#">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="mobile-number" method="post">

       <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
    <h1 class="govuk-fieldset__heading">
      What's your address?
    </h1>
  </legend>

  
<p class="govuk-body">If you claim any benefits you must use the same address registered with the benefits agency (DWP or HMRC).
</p>

<hr class="govuk-section-break govuk-section-break--m">

   <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-1">
      Building and street <span class="govuk-visually-hidden">line 1 of 2</span>
    </label>
    <span id="dob-hint" class="govuk-hint">
      Enter the first line of your address
    </span>
    <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" value="{{ data['address-line-1'] }}">
  </div>



  <div class="govuk-form-group">
    <label class="govuk-label" for="address-line-2">
      <span class="govuk-visually-hidden">Building and street line 2 of 2</span>
    </label>
    <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" value="{{ data['address-line-2'] }}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-town">
      Town or city
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" value="{{ data['address-town'] }}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-county">
      County
    </label>
    <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text" value="{{ data['address-county'] }}">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="address-postcode">
      Postcode
    </label>
    <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" value="{{ data['address-postcode'] }}">
  </div>

</fieldset>

<div class="govuk-inset-text">
  We need this to confirm your identity and eligibility. We'll send your prepaid card to this address.
</div>


        <button class="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
